.icon-container {
	border-radius: 8%;
	padding: 8px;
	width: 40px;
	height: 40px;
	transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
	background-color: #68f60a;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #0a24e7;
}

::-webkit-scrollbar-thumb {
	background-color: #e60b0b;
}
::-webkit-scrollbar-thumb {
	background-color: #efeb07;
}

:root {
	/*--bg-color: #f60696; */
	--text-color: #b123c3b5;
	--accent-color: #f2800d;
	--card-bg: rgba(124, 2, 255, 0.05);
	--card-border: rgb(253, 253, 253);
  }
  
  .body {
	/*background: linear-gradient(45deg, #a50fe6, #d90367); */
	color: var(--text-color);
	background-image: url('/assets/images/test.png');
	
  }
  
  .glass-card {
	background: var(--card-bg);
	backdrop-filter: blur(10px);
	border: 1px solid var(--card-border);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(255, 255, 255, 0.7);
  }
  
  .button {
	background: var(--accent-color);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  .button:hover {
	background: rgba(122, 162, 247, 0.8);
  }

  .app {
	min-height: 50vh;
	background: linear-gradient(to bottom right, #ade0bb, #6c6f8e);
	font-family: 'Arial', sans-serif;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center   
   center;
  }
  
  .blur-overlay {
	position: fixed;
	top: 0;
	left: 10;
	right: 10;
	bottom: 0;

	/* Add gradient effect to to backround all pages */
	background: 
	  radial-gradient(circle at top left, rgb(246, 115, 0), transparent 90%),
	  radial-gradient(circle at bottom right, rgb(4, 246, 24), transparent 50%);
	filter: blur(50px);
	z-index: 0;
  }
  
  /* Add glassmorphism effect to components this is for header component */
  .glass-effect {
	background: rgb(238, 6, 238);
	backdrop-filter: blur(30px);
	border-radius: 15px;
	border: 3px solid rgba(255, 255, 255, 0);
  }